@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-cyan: 43, 207, 207;
        --color-red: 244, 98, 98;
        --color-dark-violet: 59, 48, 84;
        --color-gray: 191, 191, 191;
        --color-grayish-violet: 158, 154, 167;
        --color-very-dark-blue: 53, 50, 62;
        --color-very-dark-violet: 35, 33, 39;
    }
}